.App {
  text-align: center;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 50vh;
  border: 2px solid blue; 
  padding: 20px; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.capture-image-button,
.capture-video-button,
.select-media-button {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 200px; 
}

.capture-image-button:hover,
.capture-video-button:hover,
.select-media-button:hover {
  background-color: #0056b3;
}


@media (max-width: 768px) {
  .home-container {
    height: 50vh;
    width: 50vw;
    padding: 10px;
  }

  .capture-image-button,
  .capture-video-button,
  .select-media-button {
    width: 150px;
    font-size: 14px; 
  }
}

@media (max-width: 480px) {
  .home-container {
    height: auto;
    width: auto;
    padding: 5px;
  }

  .capture-image-button,
  .capture-video-button,
  .select-media-button {
    width: 100px; 
    font-size: 12px; 
  }
}